{# Copyright (c) 2026 Rafa Souza. SPDX-License-Identifier: AGPL-3.0-or-later #}
[core]
    hooksPath = /dev/null

[user]
    name = {{ git_user }}
    email = {{ git_email }}

[http]
    proxy = {{ proxy_url_core }}

[url "https://github.com/"]
    insteadOf = git@github.com:

[include]
    path = {{ custom_config_core }}/.gitconfig