# .sandbox.env
# WARNING: STRICTLY UNTRACKED SECRETS

# Agent Authentication
CORE_ANTHROPIC_API_KEY=""
CORE_GITHUB_API_KEY=""

# Database Authentication
CONTAINER_PG_USER="agent"
CONTAINER_PG_PASSWORD=""
CONTAINER_PG_DB=""

# MCP Authentication
CONTAINER_FIRECRAWL_API_KEY=""